<p-table responsiveLayout="stack" [value]="books">
    <ng-template pTemplate="caption">
        <div class="table-header">
            Stock bookstore
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th>Id</th>
            <th><i class="pi pi-user" style="font-size: 1rem"></i>Author</th>
            <th>
                <i class="pi pi-book" style="font-size: 1rem"></i>
                Title
            </th>
            <th>
                <i class="pi pi-bookmark" style="font-size: 1rem"></i>
                Pages
            </th>
            <th>
                <i class="pi pi-box" style="font-size: 1rem"></i>
                Stock
            </th>
            <th>
                <i class="pi pi-calendar" style="font-size: 1rem"></i>
                Date of release
            </th>
            <th>
                <i class="pi pi-book" style="font-size: 1rem"></i>
                Edit
            </th>
            <th>
                <i class="pi pi-book" style="font-size: 1rem"></i>
                Delete
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-book let-columns="columns">
        <tr>
            <td>
                <span class="p-column-title td-container">
                    <div class="ml-2">Id</div>
                </span>
                {{book.id}}
            </td>
            <td>
                <span class="p-column-title td-container">
                    <i class="pi pi-user" style="font-size: 1rem"></i>
                    <div class="ml-2">Author</div>
                </span>
                {{book.author}}
            </td>
            <td>
                <span class="p-column-title td-container">
                    <i class="pi pi-book" style="font-size: 1rem"></i>
                    <div class="ml-2">Title</div>
                </span>
                {{book.title}}
            </td>
            <td>
                <span class="p-column-title td-container">
                    <i class="pi pi-bookmark" style="font-size: 1rem"></i>
                    <div class="ml-2">Pages</div>
                </span>
                {{book.pages}}
            </td>
            <td>
                <span class="p-column-title td-container">
                    <i class="pi pi-box" style="font-size: 1rem"></i>
                    <div class="ml-2">Stock</div>
                </span>
                {{book.stock}}
            </td>
            <td>
                <span class="p-column-title td-container">
                    <i class="pi pi-calendar" style="font-size: 1rem"></i>
                    <div class="ml-2">Created At</div>
                </span>
                {{book.createdAt|date: 'MMMM, d, y'}}
            </td>
            <td>
                <p-button type="button" label="Edit" icon="pi pi-book" styleClass="p-button-sm p-button-info"
                    [routerLink]="['/books/book/', book.id]"></p-button>
            </td>
            <td>
                <p-button type="button" label="Delete" icon="pi pi-book" styleClass="p-button-sm p-button-danger"
                    (click)="deleteBookForm(book)"></p-button>
            </td>
        </tr>
    </ng-template>
</p-table>