
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
body {
    background-color: var(--surface-b);
    color: var(--text-color);
    font-family: var(--font-family);
    margin: 0;
}